<%= form_for :question, { url: target, method: method } do |f| %>
  Title: <%= f.text_field :"question.title", value: @question.fetch(:"question.title", ''), class: 'form-control' %><br />
  Content: <%= f.text_area :"question.body", value: @question.fetch(:"question.body", ''), class: 'form-control' %><br />

  <div class="actions">
    <%= f.submit class: 'btn-primary btn' %>
  </div>
<% end %>
