<%= form_for :question, url: '/questions' do |f| %>
  Title: <%= f.text_field :question_title %><br />
  Content: <%= f.text_area :question_body %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
