<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>
    <li>
      <%= link_to question[:question_title], controller: 'questions', action: 'show', id: question[:_uid_] %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Question', new_question_path %>
