<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<hr>

<%= link_to 'New Question', new_question_path, class: 'btn btn-primary float-right' %>
<ul class="questions list-unstyled">
  <% @questions.each do |question| %>
    <li class="question">
      <h2>
        <%= link_to question[:"question.title"], controller: 'questions', action: 'show', id: question[:_uid_] %>
      </h2>
      <p>
        <%= truncate question[:"question.body"] %>
      </p>
    </li>
  <% end %>
</ul>

<br>
