<li class="answer">
  <section class="body">
    <%= answer[:answer_body] %>
  </section>
  <div class="actions">
    <%= link_to 'Remove', "/answers/#{answer[:_uid_]}", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</li>
