<%= form_for :answer, { url: target, method: method, remote: true } do |f| %>
  <%= f.text_area :answer_body, value: answer.fetch(:answer_body, ''), class: 'answer-form' %><br />
  <%= f.hidden_field :question_id, value: question_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
